@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #069430;
    --cor-quaternaria: #069430;
    --cor-botao-back: #474747;

    --fonte-primaria: "Krona One", serif;
    --fonte-secundaria: "Montserrat", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 21%;
}

.cabecalho__menu {
    display: flex;
    gap: 5%;
}

.cabecalho__menu__Link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;    
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);    
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color:var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600px;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-quaternaria);
    color: var(--cor-primaria);
    padding: 4%; 
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 30px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 378px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10%;
}

.input-section {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 5%;
}

.section-title {
    font-family: "Montserrat", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--cor-secundaria);
    margin: 10px 0;
    text-align: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 70%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-terciaria);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-add {
    width: 20%;
    background-color: var(--cor-botao-back);
    color: var(--cor-secundaria);
    border-radius: 0 30px 30px 0;
    gap: 10%;
}

ul {
    list-style-type: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: var(--cor-terciaria);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.button-container {
    width: 300px;
    justify-content: center;
}

.button-draw {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 10px 40px;
    color: var(--cor-secundaria);
    background-color: var(--cor-botao-back);
    font-size: 16px;
    gap: 10%;
}